<div *ngIf="isLoggedIn == true" ngClass="header" >
  <div ngClass="headerLeft">
      <img routerLink="home" [src]="imgSrc">
  </div>
  <div  ngClass="headerCenter">
      <input
          ngClass="headerInput"
          type="text" name=""
          placeholder="Search here..."
      />
      <div ngClass="searchIcon">
          <div ngClass="line1">
          </div>
          <div ngClass="line2"></div>
          <div ngClass="reacta1"></div>
          <div ngClass="reacta2"></div>
      </div>
  </div>
  <div  ngClass="headerRight">
      <div ngClass="info">
          {{data.firstName}} {{data.lastName}}
          <p ngClass="infoNumber">{{data.phoneNumber}}</p>
      </div>
      <img routerLink="profile"
          ngClass="infoImg"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" alt=""
      />
      <button (click)="logout()" ngClass="logOutBtn">
          SIGN OUT
      </button>
  </div>
</div>


<router-outlet></router-outlet>

